<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <display-name>JAVA-acceso_libre</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ABMProvincia</display-name>
    <servlet-name>ABMProvincia</servlet-name>
    <servlet-class>servlets.ABMProvincia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ABMProvincia</servlet-name>
    <url-pattern>/abmprovincia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ABMCiudad</display-name>
    <servlet-name>ABMCiudad</servlet-name>
    <servlet-class>servlets.ABMCiudad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ABMCiudad</servlet-name>
    <url-pattern>/abmciudad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ABMArtista</display-name>
    <servlet-name>ABMArtista</servlet-name>
    <servlet-class>servlets.ABMArtista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ABMArtista</servlet-name>
    <url-pattern>/abmartista</url-pattern>
  </servlet-mapping>
</web-app>